@page  "/accessreview/{Id}"

<MudContainer Class="mt-16">
    <div>
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Check" Color="Color.Primary" OnClick="Complete">Complete</MudButton>
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="Abandon" Class="ml-4">Abandon</MudButton>
    </div>
    @if(AccessReview?.ObjectType == "Application")
    {
        <IdentityGuard.Blazor.Ui.Components.AccessReviews.ApplicationAccess 
            DirectoryId="@AccessReview?.DirectoryId" ApplicationId="@AccessReview?.ObjectId" AllowNewAccessReview="false"/>

    }

    @if (AccessReview?.ObjectType == "User")
    {
        <IdentityGuard.Blazor.Ui.Components.AccessReviews.UserAccess
        DirectoryId="@AccessReview?.DirectoryId" UserId="@AccessReview?.ObjectId"  AllowNewAccessReview="false"/>
    }
</MudContainer>
}