@page "/user/claims"
@namespace IdentityGuard.Blazor.Ui.Pages.Users

<AuthorizeView>
    <Authorized>
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th>Claim</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            @foreach(var claim in ClaimValues)
            {
                <tr>
                    <td>@claim.Key</td>
                    <td>@claim.Value</td>
                </tr>
            }
            </tbody>
        </table>
    </Authorized>
    <NotAuthorized>
        Not Authorized
    </NotAuthorized>
</AuthorizeView>